<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    sdaf
    your form is wrong, reload on <a href = "{% url 'https://docs.djangoproject.com/en/3.2/intro/tutorial01/' %}">reload</a>
    <a href="{% url 'index' %}">{{ question.question_text }}</a>
</head>
<body>

</body>
</html>