{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-xxl-8 order-2 order-xxl-1">
<!--begin::Advance Table Widget 2-->
<div class="card card-custom card-stretch gutter-b">
<!--begin::Header-->
<div class="card-header border-0 pt-5">
<h3 class="card-title align-items-start flex-column">
<span class="card-label font-weight-bolder text-dark">Xodimlar</span>

<span class="text-muted mt-3 font-weight-bold font-size-sm">Jami xodimlar {{ staff_count }} ta</span>
</h3>
<div class="card-toolbar">
<ul class="nav nav-pills nav-pills-sm nav-dark-75">

<li class="nav-item">
<a class="nav-link py-2 px-4 active" href="{% url 'add_staff' %}">Add</a>
</li>
</ul>
</div>
</div>
<!--end::Header-->
<!--begin::Body-->
<div class="card-body pt-2 pb-0 mt-n3">
<div class="tab-content mt-5" id="myTabTables11">




<!--begin::Tap pane-->
<div class="tab-pane fade show active" id="kt_tab_pane_11_3" role="tabpanel" aria-labelledby="kt_tab_pane_11_3">
<!--begin::Table-->
<div class="table-responsive">
<table class="table table-borderless table-vertical-center">
<thead>
<tr class="text-left text-uppercase">
<th style="min-width: 100px">Ism</th>
<th style="min-width: 80px">Familya</th>
<th style="min-width: 80px">Status</th>
<th style="min-width: 80px">Tug'ilgan yil</th>
</tr>
</thead>
<tbody>
{% for user in staffs %}
<tr>
<td class="pl-0">


<span class="text-muted font-weight-bold"> {{ user.first_name }}</span>

</td>
<td class="text-left">
<span class="text-muted font-weight-bold">{{ user.last_name }}</span>
</td>
<td class="text-left">
<span class="label label-lg label-light-primary label-inline">{{ user.status }}</span>
</td>
<td class="text-left">
<span class="label label-lg label-light-primary label-inline">{{ user.birth_date }}</span>
</td>
<td class="text-left pr-0">
<a href="#" class="btn btn-icon btn-light btn-hover-primary btn-sm">
<span class="svg-icon svg-icon-md svg-icon-primary">
<!--begin::Svg Icon | path:assets/media/svg/icons/General/Settings-1.svg-->
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
<rect x="0" y="0" width="24" height="24" />
<path d="M7,3 L17,3 C19.209139,3 21,4.790861 21,7 C21,9.209139 19.209139,11 17,11 L7,11 C4.790861,11 3,9.209139 3,7 C3,4.790861 4.790861,3 7,3 Z M7,9 C8.1045695,9 9,8.1045695 9,7 C9,5.8954305 8.1045695,5 7,5 C5.8954305,5 5,5.8954305 5,7 C5,8.1045695 5.8954305,9 7,9 Z" fill="#000000" />
<path d="M7,13 L17,13 C19.209139,13 21,14.790861 21,17 C21,19.209139 19.209139,21 17,21 L7,21 C4.790861,21 3,19.209139 3,17 C3,14.790861 4.790861,13 7,13 Z M17,19 C18.1045695,19 19,18.1045695 19,17 C19,15.8954305 18.1045695,15 17,15 C15.8954305,15 15,15.8954305 15,17 C15,18.1045695 15.8954305,19 17,19 Z" fill="#000000" opacity="0.3" />
</g>
</svg>
<!--end::Svg Icon-->
</span>
</a>
<a href="{% url 'edit_staff' user.id %}" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3">
<span class="svg-icon svg-icon-md svg-icon-primary">
<!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Write.svg-->
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
<rect x="0" y="0" width="24" height="24" />
<path d="M12.2674799,18.2323597 L12.0084872,5.45852451 C12.0004303,5.06114792 12.1504154,4.6768183 12.4255037,4.38993949 L15.0030167,1.70195304 L17.5910752,4.40093695 C17.8599071,4.6812911 18.0095067,5.05499603 18.0083938,5.44341307 L17.9718262,18.2062508 C17.9694575,19.0329966 17.2985816,19.701953 16.4718324,19.701953 L13.7671717,19.701953 C12.9505952,19.701953 12.2840328,19.0487684 12.2674799,18.2323597 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.701953, 10.701953) rotate(-135.000000) translate(-14.701953, -10.701953)" />
<path d="M12.9,2 C13.4522847,2 13.9,2.44771525 13.9,3 C13.9,3.55228475 13.4522847,4 12.9,4 L6,4 C4.8954305,4 4,4.8954305 4,6 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,6 C2,3.790861 3.790861,2 6,2 L12.9,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
</g>
</svg>
<!--end::Svg Icon-->
</span>
</a>
<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal" onclick="deleteProduct({{ user.id }})">
                            Delete
                        </button>

</a>
</td>
</tr>{% endfor %}

</tbody>
</table>
</div>
<!--end::Table-->
</div>
<!--end::Tap pane-->
</div>
</div>


    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          O'chirishga ishonchingiz komilmi?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a id="deleteProductBtn" href="#" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>


    <footer class="main-footer">
    <div class="float-right d-none d-sm-block">

    </div>
    {% if staffs.paginator.num_pages > 1 %}

    {% if staffs.has_previous %}

        <a href="?page={{ staffs.previous_page_number }}">previous</a>

    {% endif %}

    <span>Page {{ staffs.number }} of {{ staffs.paginator.num_pages }}</span>

    {% if staffs.has_next %}

        <a href="?page={{ staffs.next_page_number }}">next</a>

    {% endif %}

{% endif %}
  </footer>


    <script>
  function deleteProduct(id){
    var str = "{% url 'delete_staff' id=0 %}";
    var newStr = str.substring(0, str.length - 1)+id;
    $('#deleteProductBtn').attr("href", newStr);
  }
</script>

{% endblock content %}