{% extends 'base.html' %}
{% load static%}
{% block content %}
    <!--end::Card-->
    <!--begin::Card-->
    <div class="card card-custom gutter-b example example-compact">
        <div class="card-header">
            <h3 class="card-title">add Staff</h3>

        </div>
        <!--begin::Form-->
       <form method="POST" action="" enctype="multipart/form-data">
                         {% csrf_token %}
            <div class="card-body">
                <div class="form-group mb-8">
                    <div class="alert alert-custom alert-default" role="alert">
                        <div class="alert-icon">
                            <span class="svg-icon svg-icon-primary svg-icon-xl">
                                <!--begin::Svg Icon | path:assets/media/svg/icons/Tools/Compass.svg-->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <path d="M7.07744993,12.3040451 C7.72444571,13.0716094 8.54044565,13.6920474 9.46808594,14.1079953 L5,23 L4.5,18 L7.07744993,12.3040451 Z M14.5865511,14.2597864 C15.5319561,13.9019016 16.375416,13.3366121 17.0614026,12.6194459 L19.5,18 L19,23 L14.5865511,14.2597864 Z M12,3.55271368e-14 C12.8284271,3.53749572e-14 13.5,0.671572875 13.5,1.5 L13.5,4 L10.5,4 L10.5,1.5 C10.5,0.671572875 11.1715729,3.56793164e-14 12,3.55271368e-14 Z" fill="#000000" opacity="0.3" />
                                        <path d="M12,10 C13.1045695,10 14,9.1045695 14,8 C14,6.8954305 13.1045695,6 12,6 C10.8954305,6 10,6.8954305 10,8 C10,9.1045695 10.8954305,10 12,10 Z M12,13 C9.23857625,13 7,10.7614237 7,8 C7,5.23857625 9.23857625,3 12,3 C14.7614237,3 17,5.23857625 17,8 C17,10.7614237 14.7614237,13 12,13 Z" fill="#000000" fill-rule="nonzero" />
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span>
                        </div>

                </div>
                <div class="form-group">
                    <label>Ism</label>
                    <input  class="form-control" type="text" name="first_name" value={{ staff.first_name }}>
                </div>
   <div class="form-group">
                    <label>Familya</label>
                    <input  class="form-control" type="text" name="last_name" value={{ staff.last_name }}>
                </div>
   <div class="form-group">
                    <label>Otasini ismi</label>
                    <input  class="form-control" type="text" name="father_name" value={{ staff.father_name }}>
                </div>
	<div class="form-group">
        <label>Date</label>

            <input class="form-control" type="date"  name="birth_date" value="{{ staff.birth_date|date:'c' }}" />

    </div>
<div class="form-group">
        <label>File Browser</label>
{#        <div></div>#}
        <div class="custom-file">
            <input type="file" name="image" class="custom-file-input" />
            <label class="custom-file-label" >Choose file</label>
        </div>
    {% if staff.image %}
    <a href="{{ staff.image.url }}">{{ staff.image.name }}</a>
        {% endif %}

    </div>

<div class="form-group">
    <label>Status</label>
    <div></div>
    <select class="custom-select form-control" name="status">
        <option selected="selected" value={{ staff.status }}>{{ staff.get_status_display }}</option>
        {% if staff.status != "iiv" %}
        <option value="iiv">IIV</option>
        {% endif %}
      {% if staff.status != "not_iiv" %}
        <option value="not_iiv">Hali IIV  uchun ko'rib chiqilmagan</option>
     {% endif %}
  {% if staff.status != "delete_iiv" %}
        <option value="delete_iiv">IIVdan chiqarilgan</option>
     {% endif %}
    </select>
</div>
<div class="form-group">
            <label >Rank</label>
            <select class="form-control" name="rank">
              <option value={{staff.rank.id}} selected>{{ staff.rank.rank }}</option>
                {% for rank in ranks %}
                {% if rank.id != staff.rank.id %}
                  <option value={{rank.id}}>{{ rank.rank }}</option>
                    {%endif%}
                {% endfor %}
            </select>
        </div>

                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-10">
                        <input class="btn btn-primary" type="submit" value="Save" />


                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}